<md-content flex class="content">
	<div layout="column" layout-align="start start" class="sg-nav">
		<div>
			<md-button ng-click="$ctrl.toggleLeft()"
					   class="md-primary">
				<i class="icon ion-md-menu"></i>
			</md-button>
		</div>
	</div>
	<div layout="row">
		<div layout="column" class="list-of-entries" flex>
			<md-list>
				<md-list-item ng-repeat="entry in $ctrl.listOfEntries" class="md-3-line entry-item"
							  ng-click="$ctrl.showEntry(entry)">
					<img ng-src="{{::entry.photo}}" class="md-avatar" alt="{{::entry.name}}"/>
					<div class="md-list-item-text" layout="column">
						<h3>{{::entry.name}}</h3>
						<h4>{{::entry.race}}</h4>
						<p>{{::entry.tribe}}</p>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</div>
</md-content>